@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Dosis", sans-serif;
}

h2 {
  font-family: "Dosis", sans-serif;
  font-size: 26px;
  color: #E6E2C3;
  margin-bottom: 20px;
  font-weight: 400;
}

h3 {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: #E6E2C3;
  margin-bottom: 22px;
  font-weight: 500;
  color: #2B2730;
}

p {
  line-height: 24px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #E6E2C3;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 28px;
  }
  p {
    font-size: 20px;
  }
}
body {
  background-color: #565575;
  font-family: "Dosis", sans-serif;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

#main-nav {
  margin-top: 4%;
  margin-bottom: 4%;
  border-left: 1px solid #2B2730;
  padding-left: 30px;
}

#main-nav button {
  width: 30px;
  height: 30px;
  background: url(../images/burger.svg) no-repeat center;
  margin-top: 15px;
  margin-bottom: 20px;
  transition: all 0.5s ease;
  border: 0;
  cursor: pointer;
}

#main-nav button.expanded {
  transform: rotate(90deg);
}

#burger-con {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}

#burger-con.slide-toggle {
  display: block;
}

#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav ul li a {
  display: block;
  padding: 2px 0 5px 0;
  text-align: center;
  color: #E6E2C3;
  font-size: 14px;
}

#main-nav ul li a:hover {
  color: #565575;
}

#main-nav ul li:first-child {
  border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
  margin-bottom: 10px;
}

#logo {
  max-width: 90px;
  margin-bottom: 20px;
  margin-left: 140px;
  margin-top: -40px;
}

#sticky-nav-con {
  position: sticky;
  background-color: #2B2730;
  top: 0px;
  border-bottom: solid 1px #E6E2C3;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  #button {
    display: none;
  }
  #logo {
    margin-top: 50px;
    order: -1;
    margin-left: 170px;
  }
  #burger-con {
    display: block;
    font-size: 13px;
  }
  #burger-con ul li, #burger-con ul li:first-child {
    border: none;
    display: inline;
  }
  #main-nav ul li a {
    display: inline;
  }
  #burger-con ul li {
    margin-right: 10px;
  }
  #burger-con ul li:last-child {
    margin-right: 0;
  }
  #main-nav {
    margin-top: 4%;
    margin-bottom: 4%;
    border-left: 1px solid #E6E2C3;
    padding-left: 30px;
  }
}
#footer-hero {
  background-color: #2B2730;
  border-top: solid 1px #E6E2C3;
  margin-top: 20px;
  text-align: center;
}

#footer-contact-info {
  margin-top: 40px;
}

#footer-contact-info img {
  max-width: 50%;
  margin-bottom: 20px;
}

#social-icons {
  color: #E6E2C3;
}

#social-icons i {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.line-seperator {
  margin-top: 20px;
  border-top: solid 3px #E6E2C3;
  padding-top: 20px;
}

#footer-privacy .line-seperator {
  margin-top: 0px;
}

input, textarea {
  display: block;
  margin: 0;
  padding: 0;
}

#contact-form {
  text-align: center;
}

input, textarea {
  width: 250px;
  padding: 8px;
  border: 2px solid #565575;
  background-color: #E6E2C3;
  margin-bottom: 0px;
  margin-left: 80px;
  border-radius: 5px;
  font-family: "Dosis", sans-serif;
}

input[type=submit] {
  margin-left: 150px;
  margin-top: 10px;
  width: 100px;
  background-color: #565575;
  color: #E6E2C3;
  border: none;
  transition: all 200ms ease-in;
  align-self: flex-end;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  font-family: "Dosis", sans-serif;
}

input[type=submit]:hover {
  background-color: #2B2730;
  cursor: pointer;
}

#price-policy {
  text-align: center;
}

@media screen and (min-width: 768px) {
  #footer-contact-info img {
    max-width: 100%;
  }
  .line-seperator {
    margin-top: 20px;
    border-top: solid 3px #E6E2C3;
    padding-top: 20px;
  }
  #footer-privacy .line-seperator {
    margin-top: 0px;
  }
  input, textarea {
    display: block;
    margin: 0;
    padding: 0;
  }
  #contact-form {
    margin-top: 100px;
    margin-left: 0px;
  }
  input, textarea {
    width: 300px;
    padding: 8px;
    border: 2px solid #565575;
    background-color: #E6E2C3;
    margin-bottom: 0px;
    border-radius: 5px;
    font-family: "Dosis", sans-serif;
  }
  input[type=submit] {
    margin-left: 200px;
    margin-top: 10px;
    width: 100px;
    background-color: #565575;
    color: #E6E2C3;
    border: none;
    transition: all 200ms ease-in;
    align-self: flex-end;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-family: "Dosis", sans-serif;
  }
  input[type=submit]:hover {
    background-color: #2B2730;
    cursor: pointer;
  }
  #price-policy {
    text-align: center;
  }
}
#atributes div {
  height: 300px;
  margin-bottom: 150px;
}

#atributes img {
  border-radius: 4px;
}

#explode-view {
  max-width: 100%;
}

h2, h3 {
  text-align: center;
}

#xray {
  margin-bottom: 100px;
}

#plastic p {
  text-align: center;
}

#options {
  margin-top: 50px;
}

#options img {
  margin-left: 130px;
}

#options p {
  margin-left: 40px;
}

#options a {
  color: #E6E2C3;
  padding: 6px;
  background-color: #2B2730;
  border-radius: 5px;
  font-family: "Dosis", sans-serif;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-left: 100px;
  margin-right: 100px;
}

#options a:hover {
  background-color: #565575;
  cursor: pointer;
}

#caracteristics {
  margin-bottom: 80px;
}

#caracteristics a {
  color: #E6E2C3;
  padding: 6px;
  background-color: #2B2730;
  border-radius: 5px;
  font-family: "Dosis", sans-serif;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-left: 150px;
}

#caracteristics a:hover {
  background-color: #565575;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #options a {
    margin-left: 450px;
    margin-right: 450px;
  }
}
model-viewer {
  width: auto;
  max-width: 1200px;
  height: 700px;
  background-color: #565575;
  margin: 0 auto;
}

#hotspots div {
  margin-bottom: 100px;
}

.Hotspot {
  background: url(../images/hotspot.svg) center no-repeat;
  border: 0px;
  width: 45px;
  height: 38px;
  display: none;
  transition: all 1s ease-in-out;
}

.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.HotspotAnnotation {
  visibility: hidden;
  background: #565575;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(252, 250, 250, 0.8);
  display: block;
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  left: calc(100% + 1em);
  max-width: 500px;
  max-height: 100px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
  text-align: left;
}

.HotspotAnnotation p {
  color: #fcf9f9;
  line-height: 22px;
  font-size: 16px;
  margin-left: 90px;
}

.HotspotAnnotation h2 {
  font-size: 20px;
  margin-bottom: 5px;
  color: black;
  font-weight: 400;
}

.HotspotAnnotation {
  position: relative;
}

.HotspotAnnotation img {
  position: absolute;
  top: 10px;
  left: 10px;
}

model-viewer::part(default-progress-bar) {
  height: 30px;
  background-color: #E89B36;
}

/* AR Rules */
#ar-button {
  background-image: url(../images/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

#outerShell {
  display: none;
}

@media screen and (min-width: 550px) {
  #mobile-tablet-view {
    display: none;
  }
  #outerShell {
    display: block;
    max-width: 1200px;
    border: solid 1px #666;
  }
  #imageCon {
    position: relative;
    max-width: 1200px;
    height: 100vh;
  }
  .slideImage {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
  }
  .image-right {
    background: url(../images/earbud-x-ray.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .image-left {
    background: url(../images/earbud.jpg) no-repeat;
    background-size: cover;
    width: 50%;
  }
  .image-drag {
    background-color: #666;
    left: 50%;
    width: 12px;
    cursor: pointer;
  }
}/*# sourceMappingURL=main.css.map */