@use 'fonts';

$primary-color: #565575;
$secondary-color: #2B2730;
$accent-color: #E6E2C3;
$body-text-color: #fff;
$heading-font-family: 'Dosis', sans-serif;
$body-font-family: 'alataregular', helvetica,arial, sans-serif;
$base-font-size: 1800px;
$base-font-weight: 400;

