@use 'fonts';

$primary-color: #2C3639;
$secondary-color: #3F4E4F;
$accent-color: #A27B5C;
$body-text-color: #fff;
$heading-font-family: 'alataregular', helvetica, arial;
$body-font-family: 'alataregular', helvetica,arial, sans-serif;
$base-font-size: 1800px;
$base-font-weight: 400;

