


#atributes div {
    height: 300px;
    margin-bottom: 150px;
}

#explode-view {
    max-width: 100%;
}

h2, h3 {
    text-align: center;
}




#xray a {
    margin-left: 500px;
    margin-right: 500px;
    
}


#plastic a {
    margin-left: 500px;
    margin-right: 500px;
}

#options {
    margin-top: 50px;
}

#options img {
  margin-left: 130px;
}

#options p {
    margin-left: 40px;
}