
#hero-con {
    height: 600px;
}

#atributes div {
    height: 300px;
}

#hotspots div {
    height: 600px;
}

#caracteristics div {
    height: 300px;
}

#xray div {
    height: 600px;
}

#xray a {
    margin-left: 500px;
    margin-right: 500px;
}

#options div {
    height: 200px ;
}

#plastic div {
    height: 300px ;
}

#plastic a {
    margin-left: 500px;
    margin-right: 500px;
}

