


#atributes div {
    height: 300px;
    margin-bottom: 100px;
}

#hotspots div {
    height: 600px;
}

#caracteristics div {
    height: 300px;
}

#explode-view {
    max-width: 100%;
}

h2, h3 {
    text-align: center;
}

#xray div {
    height: 600px;
}

#xray a {
    margin-left: 500px;
    margin-right: 500px;
}

#options div {
    height: 200px ;
}


#plastic div {
    height: 300px ;
}

#plastic a {
    margin-left: 500px;
    margin-right: 500px;
}

