#outerShell{
    display: none;
}

@media screen and (min-width:550px){

    #mobile-tablet-view{
        display: none;
    }

    #outerShell {
        display: block;
        max-width: 1200px;
        border: solid 1px #666;
    }
    
    #imageCon {
        position: relative;
        max-width: 1200px;
        height: 100vh;
    }
    
    .slideImage {
        position: absolute;
        left: 0;
        right: 0;
        height: 100vh;
    }
    
    .image-right {
        background: url(../images/earbud-x-ray.jpg) no-repeat;
        background-size: cover;
        // background-position: center center;
        // background-attachment: fixed;
          width: 100%;
        height: 100%;
    }
    
    .image-left {
        background: url(../images/earbud.jpg) no-repeat;
        background-size: cover;
        // background-position: center center;
        width: 50%;
        // background-attachment: fixed;
    }
    
    .image-drag {
        background-color: #666;
        left: 50%;
        width: 12px;
        cursor: pointer;
    }
}